/*2. Use CSS to style each of the color titles to meaning. */
#red{
    color: red;
}

#blue{
    color: blue;
}

#orange{
    color: orange;
}

#green{
    color: green;
}

#yellow{
    color: yellow;
}

/*3. Use CSS to change all the color titles to have "font-weight: normal;"*/

*{
    font-weight: normal;
}

/*4. Use CSS (not HTML) to make all the images 200px heigh and 200px wide.*/

img{
    height: 200px;
    width: 200px;
}